<template name="senador">

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
                     <img src="images/rotating_card_thumb3.png"/>
                 </div>
                 <div class="user">
                     <img class="img-circle" src="images/rotating_card_profile.png"/>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">{{nombre}}</h3>
                         <p class="profession">{{partido}}</p>

                         <p class="text-center"> <i class="fa fa-map-o" aria-hidden="true"></i> {{region}}</p>
                         <p class="text-center"> <i class="fa fa-slack" aria-hidden="true"></i> {{circunscripcion}}° Circunscripción</p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                             <i class="fa fa-mail-forward"></i> Auto Rotation
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
             <div class="back">
                 <div class="header">
                     <h5 class="motto">{{nombre}}</h5>
                 </div>
                 <div class="content">
                     <div class="main">
                     <center>
                            <h4>Representación</h4>
                            <button type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </span>1000 Habitantes
                            </button>
                            <button type="button" class="btn btn-labeled btn-danger">
                                <span class="btn-label">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </span>1000 Km2 Superficie
                            </button>   
                     </center>
                         <div class="stats-container">
                             <div class="stats">
                                 <h4>{{asistencia}}</h4>
                                 <p>
                                     Asist. Comisiones
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>114</h4>
                                 <p>
                                     Asist. Salas
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>35</h4>
                                 <p>
                                     Votaciones
                                 </p>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="footer">
                     <div class="social-links text-center">
                         <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                     </div>
                 </div>
             </div> <!-- end back panel -->
         </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div>

</template>